<% provide(:title, "Games") %>

<%= link_to 'Refresh', refresh_path, class:'btn btn-primary' %>

<div class="container">
  <% @games.each do |game| %>
    <div class="row">
      <div class="col-sm-6">
        <%= game.name %>
      </div>
      <div class="col-sm-6">
        $ <%= game.prices.first.amount %>
      </div>
    </div>
  <% end %>
</div>
