<% provide(:title, "Games") %>

<div class="container">
  <%# Render newly updated games at the top %>
  <div class="row">
    <h3>Changes since last refresh</h3>
  </div>
  <%= render 'home/game_table', games: @refresh.games %>

  <%# Render only new games to table. TODO: look for a faster way to do this %>
  <div class="row">
    <h3>Newly added in the last 7 days</h3>
  </div>
  <%= render 'home/game_table', games: @games.reject{|game| !new_game?(game)} %>

  <%# Render games > 7 days old to the table%>
  <div class="row">
    <h3>Games</h3>
  </div>
  <%= render 'home/game_table', games: @games.reject(&method(:new_game?)) %>
</div>
