@import "bootstrap-sprockets";
@import "bootstrap";

.full-width {
  width: 100%;
}

.refresh-message {
  padding-right: 10px;
  color: grey;
}

body {
  padding-top: 70px;
}

.game-table tr {
    cursor: grabbing;
}

footer {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}